<app-navbar-restaurant></app-navbar-restaurant>
<mat-card>
  <mat-card-content>
    <div class="Analisis">
      <div class="Opciones">
        <div class="boton1">
          <button class="btn btn-success my-2" routerLink="Overview"> Overview</button>
        </div>
        <br>
        <div class="boton2">
          <button class="btn btn-danger" routerLink="Top-Clientes"> Top Clientes</button>
        </div>
      </div>
      <div class="ImagenesOpciones">
        <router-outlet ></router-outlet>
      </div>
    </div>
  </mat-card-content>
</mat-card>
<app-footer></app-footer>
