<app-navbar-restaurant></app-navbar-restaurant>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Tabla de Ventas de Comidas y Bebidas</h1>
      <table class="table table-striped">
        <thead>
        <tr>
          <th>Nombre</th>
          <th>Cantidad Vendida</th>
          <th>Precio</th>
          <th>Total</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of ventas">
          <td>{{ item.nombre }}</td>
          <td>{{ item.cantidad }}</td>
          <td>{{ item.precio | currency:'S/.' }}</td>
          <td>{{ item.cantidad * item.precio | currency:'S/.' }}</td>
        </tr>
        </tbody>
      </table>
      <button class="btn btn-primary" (click)="gotopage('home')">Regresar</button>
    </div>
  </div>
</div>
<app-footer></app-footer>
