<section class="SingUpScreen">
  <form>
    <h1 class="tituloSU">Registrarte</h1>
    <div>
      <label for="name">Nombre:</label>
      <input type="name" id="name" formControlName="nombre" placeholder="Ingrese su nombre">
    </div>

    <div>
      <label for="lastname">Apellido:</label>
      <input type="lastname" id="lastname" formControlName="apellido" placeholder="Ingrese su apellido">
    </div>
    <div>
      <label for="email">Correo Electronico: </label>
      <input type="email" id="email" formControlName="correo" placeholder="Ingrese su correo">
    </div>
    <div>
      <label for="password">Contraseña: </label>
      <input type="password" id="password" formControlName="correo" placeholder="Ingrese su correo">
    </div>
    <button type="submit" >Registrarse</button>
    <a class="redirection">
      <a>¿Ya tienes una cuenta?</a><a class="login-button" routerLink="/iniciosesion"> Inicia Sesion</a>
    </a>
  </form>
</section>
