<app-navbar-restaurant></app-navbar-restaurant>
<div class="containerPedidos">
  <mat-card class="ClientesCard">
    <div class="Pedidos">
      <div class="Clientes">
        <h1>Clientes</h1>
      </div>
      <div class="nPedidos">
        <h1>n# Pedidos</h1>
      </div>
      <div class="tabla">
        <table mat-table #table [dataSource]="dataSource" class="cuadroTabla">
          <ng-container matColumnDef="Clientes">
            <th mat-header-cell *matHeaderCellDef> </th>
            <td mat-cell *matCellDef="let elemento"> {{elemento.nombre}} </td>
          </ng-container>
          <ng-container matColumnDef="nPedidos">
            <th mat-header-cell *matHeaderCellDef> </th>
            <td mat-cell *matCellDef="let elemento"> {{elemento.pedidos}} </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="tableDisplayColumns"></tr>
          <tr mat-row *matRowDef="let elemento; columns: tableDisplayColumns;"></tr>
        </table>
      </div>
      <button mat-button (click)="onNavigateHome()">Regresa</button>
    </div>
  </mat-card>
</div>
<app-footer></app-footer>




