<div class="containerList">
  <mat-card *ngFor="let restaurant of restaurants" class="restaurant-mat-card">
    <mat-card-header>
      <img mat-card-image
           src=""
           [alt]="restaurant.name"/>
    </mat-card-header>
    <mat-card-content>
      <h3>Nombre: {{restaurant.name}}</h3>
      <h3>Horario: {{restaurant.schedule}}</h3>
      <h3>Dirección: {{restaurant.address}}</h3>
      <h3>Teléfono: {{restaurant.phone}}</h3>
    </mat-card-content>
    <mat-card-actions class="button">
      <button>
        Ver Carta
      </button>
    </mat-card-actions>
  </mat-card>
</div>

<div *ngIf="!restaurants || restaurants.length === 0">
  No restaurants found.
</div>
