<section class="LoginScreen">
  <form>
    <h1 class="tituloIS">Iniciar Sesion</h1>
    <div>
      <label for="email">Correo Electronico: </label>
      <input type="email" id="email" formControlName="correo" placeholder="Ingrese su correo">
    </div>
    <div>
      <label for="password">Contraseña: </label>
      <input type="password" id="password" formControlName="correo" placeholder="Ingrese su correo">
    </div>
    <button [routerLink]="'/plan'" type="submit">Iniciar Sesion</button>
    <a class="redirection">
      <a>¿No tienes cuenta?</a><a class="registro-button" [routerLink]="'/registro'"> Registrate aquí</a>
    </a>
  </form>
</section>
