html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}
:host {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.containerRestaurant{
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
  text-align: center;
  justify-content: center;
  background-color: #97E896;
}
h1{
  margin-bottom: 70px;
}
