<div class="containerList">
  <mat-card *ngFor="let drink of drinks" class="drink-mat-card ">
    <mat-card-header>
      <img mat-card-image
           [src]="drink.image"
           [alt]="drink.name"/>
    </mat-card-header>
    <mat-card-content>
      <h3>{{drink.name}}</h3>
    </mat-card-content>
    <mat-card-actions class="price">
      <button mat-icon-button color="black" aria-label="Add" (click)="addToCart(drink)">
        <mat-icon>add</mat-icon>
      </button>
      <h4>S/.{{drink.price}}</h4>
    </mat-card-actions>
  </mat-card>
</div>


<div *ngIf="!drinks || drinks.length === 0">
  No drinks found.
</div>
