<footer class="footer">
  <div class="logo-section">
    <img src="assets/logofooter.png" alt="EasyFood Logo">
  </div>
  <div class="contact-section">
    <div class="contactanos">
      <p>Contáctanos:</p>
      <div class="email-number">
        <i class="fa-solid fa-paper-plane"></i>
        <p>easyfood&#64;nexusbuilders.com</p>
      </div>
      <div class="email-number">
        <i class="fa-solid fa-phone"></i>
        <p>+5199754668</p>
      </div>
    </div>
    <p>2024 - Nexus Builders ©</p>
  </div>
  <div class="footer-redes">
    <i class="fa-brands fa-facebook"></i>
    <i class="fa-brands fa-instagram"></i>
  </div>
</footer>
