.custom-table {
  border-radius: 40px;
}

.custom-table th, .custom-table td {
  padding: 10px;
  width: 50px;
}

.custom-table th {
  background-color: #0A732F;
  font-size: 32px;
}
.custom-table td{
  background-color: #D8CB5D;
  font-size: 22px;
}
