.lunch-mat-card{
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  margin: 0;
  min-width: 200px;
  min-height: 150px;
  padding: 0;
}
.containerList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.containerList img{
  margin:0;
  padding: 0;
  height: 80px;
  width: 120px;
  border-radius: 50%;
}
.contentCardLunch{
  width: 70%;
}
.contentCardLunch h3{
  margin: 0;
  margin-top: 5px;
  padding: 0;
}
.contentCardLunch p{
  margin: 6px 0;
  padding: 0;
}
.price {
  display: flex;
  justify-content: space-between;
  border-radius: 35px;
  align-items: center;
  height: 10px;
  width: 80%;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
  background-color: rgba(211, 242, 206, 1);
}
.price button{
  margin: 0;
}
.price h4{
  margin: 0 20px;
}
