<div class="containerList">
  <mat-card *ngFor="let lunch of lunches" class="lunch-mat-card ">
    <mat-card-header>
      <img mat-card-image
           [src]="lunch.image"
           [alt]="lunch.mainDish"/>
    </mat-card-header>
    <mat-card-content class="contentCardLunch">
      <h3>Entrada</h3>
      <p>{{lunch.starterPlate}}</p>
      <h3>Segundo</h3>
      <p>{{lunch.mainDish}}</p>
    </mat-card-content>
    <mat-card-actions class="price">
      <button mat-icon-button color="black" aria-label="Add">
        <mat-icon>add</mat-icon>
      </button>
      <h4>S/.{{lunch.price}}</h4>
    </mat-card-actions>
  </mat-card>
</div>


<div *ngIf="!lunches || lunches.length === 0">
  No drinks found.
</div>
